<h1>Listing exchanges</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>User</th>
      <th>Visit Time</th>
      <th>Total Needles Received</th>
      <th>Total Returned Needles</th>
    </tr>
  </thead>

  <tbody>
    <% @exchanges.each do |exchange| %>
      <tr>
        <td><%= link_to exchange.visit.client.code, exchange.visit.client %></td>
        <td><%= exchange.user_id %></td>
        <td><%= link_to exchange.visit.visit_time, exchange.visit %></td>
        <td><%= exchange.total_needles_received %></td>
        <td><%= exchange.total_returned_needles %></td>
        <td><%= link_to "Details", exchange, class: "button tiny radius" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exchange', new_exchange_path, class: "button secondary radius" %>
