<p id="notice"><%= notice %></p>
<div class="small-8 columns">
<h1>Exchange for <%= @exchange.visit.client.code %></h1>
<div>
  <strong>Client:</strong>
  <%= link_to @exchange.visit.client.code, @exchange.visit.client %>
</div>

<div>
  <strong>Volunteer:</strong>
  <% if @exchange.user == nil %>
    User Was Deleted by Admin
  <% else %>
    <%= @exchange.user.name %>
  <% end %>
</div>

<div>
  <strong>Alcohol whipes:</strong>
  <%= @exchange.alcohol_whipes %>
</div>

<div>
  <strong>Cookers:</strong>
  <%= @exchange.cookers %>
</div>

<div>
  <strong>Cottons:</strong>
  <%= @exchange.cottons %>
</div>

<div>
  <strong>Ties:</strong>
  <%= @exchange.ties %>
</div>

<div>
  <strong>Bleach:</strong>
  <%= @exchange.bleach %>
</div>

<div>
  <strong>Condoms:</strong>
  <%= @exchange.condoms %>
</div>

<div>
  <strong>Ascorbic acid:</strong>
  <%= @exchange.ascorbic_acid %>
</div>

<div>
  <strong>Pieces of lit:</strong>
  <%= @exchange.pieces_of_lit %>
</div>

<div>
  <strong>Narcan:</strong>
  <%= @exchange.narcan %>
</div>
 
  <% if @exchange.secondary_exchange > 1 %>
    <div>
      <strong>Picked up for:</strong>
      <%= @exchange.secondary_exchange %> additional people
    </div>
  <% elsif @exchange.secondary_exchange == 1 %>
    <div>
      <strong>Picked up for:</strong>
      <%= @exchange.secondary_exchange %> additional person
    </div>
  <% end %>
  <div>
<strong>Needles Received by Client:</strong>
<table>
  <tr>
    <th>Ultrafines</th>
    <th>Halfs</th>
    <th>Pogos</th>
    <th>Blues</th>
    <th>Total Needles Received</th>
  </tr>
  <tr>
    <td><%= @exchange.ultrafines %></td>
    <td><%= @exchange.halfs %></td>
    <td><%= @exchange.pogos %></td>
    <td><%= @exchange.blues %></td>
    <td><%= @exchange.total_needles_received %></td>
  </tr>
</table>
</div>

<div>
  <strong>Needles Returned by Client:</strong>
  <table>
  <tr>
    <th>Needles</th>
    <th>1QT</th>
    <th>2QT</th>
    <th>3GAL</th>
    <th>8GAl</th>
    <th>Bleach</th>
    <th>Total Needles Returned</th>
  </tr>
  <tr>
    <td><%= @exchange.returned_needles %></td>
    <td><%= @exchange.one_qt %></td>
    <td><%= @exchange.two_qt %></td>
    <td><%= @exchange.three_gal %></td>
    <td><%= @exchange.eight_gal %></td>
    <td><%= @exchange.bleach_bottle %></td>
    <td><%= @exchange.total_returned_needles %></td>
  </tr>
</table>
</div>
</p>

<%= link_to 'Edit', edit_exchange_path(@exchange), class: "button secondary radius" %>
<% if current_user.role == "admin" %>
  <%= link_to 'Destroy', @exchange, method: :delete, data: { confirm: 'Are you sure?' }, class: "button secondary radius" %>
<% end %>
<%= link_to 'Back', exchanges_path, class: "button secondary radius" %>
</div>
