<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= link_to @exchange.visit.client.code, @exchange.visit.client %>
</p>

<p>
  <strong>Volunteer:</strong>
  <%= @exchange.user.name %>
</p>

<p>
<strong>Needles Received by Client:</strong>
<table>
  <tr>
    <th>Ultrafines</th>
    <th>Halfs</th>
    <th>Pogos</th>
    <th>Blues</th>
    <th>Total Needles Received</th>
  </tr>
  <tr>
    <td><%= @exchange.ultrafines %></td>
    <td><%= @exchange.halfs %></td>
    <td><%= @exchange.pogos %></td>
    <td><%= @exchange.blues %></td>
    <td><%= @exchange.total_needles_received %></td>
  </tr>
</table>
</p>

<p>
  <strong>Needles Returned by Client:</strong>
  <table>
  <tr>
    <th>Needles</th>
    <th>1QT</th>
    <th>2QT</th>
    <th>3GAL</th>
    <th>8GAl</th>
    <th>Bleach</th>
    <th>Total Needles Returned</th>
  </tr>
  <tr>
    <td><%= @exchange.returned_needles %></td>
    <td><%= @exchange.one_qt %></td>
    <td><%= @exchange.two_qt %></td>
    <td><%= @exchange.three_gal %></td>
    <td><%= @exchange.eight_gal %></td>
    <td><%= @exchange.bleach_bottle %></td>
    <td><%= @exchange.total_returned_needles %></td>
  </tr>
</table>
</p>

<!-- <p>
  <strong>Other Supplies Received:</strong>
  <table>
  <tr>
    <th>Alcohol Wipes</th>
    <th>Cookers</th>
    <th>Cottons</th>
    <th>Ties</th>
    <th>Total Needles Received</th>
  </tr>
  <tr>
    <td><%= @exchange.ultrafines %></td>
    <td><%= @exchange.halfs %></td>
    <td><%= @exchange.pogos %></td>
    <td><%= @exchange.blues %></td>
    <td><%= @exchange.total_needles_received %></td>
  </tr>
</table>
</p> -->

<p>
  <strong>Alcohol whipes:</strong>
  <%= @exchange.alcohol_whipes %>
</p>

<p>
  <strong>Cookers:</strong>
  <%= @exchange.cookers %>
</p>

<p>
  <strong>Cottons:</strong>
  <%= @exchange.cottons %>
</p>

<p>
  <strong>Ties:</strong>
  <%= @exchange.ties %>
</p>

<p>
  <strong>Bleach:</strong>
  <%= @exchange.bleach %>
</p>

<p>
  <strong>Condoms:</strong>
  <%= @exchange.condoms %>
</p>

<p>
  <strong>Ascorbic acid:</strong>
  <%= @exchange.ascorbic_acid %>
</p>

<p>
  <strong>Pieces of lit:</strong>
  <%= @exchange.pieces_of_lit %>
</p>

<p>
  <strong>Narcan:</strong>
  <%= @exchange.narcan %>
</p>
 
  <% if @exchange.secondary_exchange > 1 %>
    <p>
      <strong>Picked up for:</strong>
      <%= @exchange.secondary_exchange %> additional people
    </p>
  <% elsif @exchange.secondary_exchange == 1 %>
    <p>
      <strong>Picked up for:</strong>
      <%= @exchange.secondary_exchange %> additional person
    </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_exchange_path(@exchange), class: "button secondary radius" %>
<% if current_user.role == "admin" %>
  <%= link_to 'Destroy', @exchange, method: :delete, data: { confirm: 'Are you sure?' }, class: "button secondary radius" %>
<% end %>
<%= link_to 'Back', exchanges_path, class: "button secondary radius" %>
