<%= simple_form_for(@visit) do |f| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% @visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="small-6 columns">

    <div class="field">
      <%= f.input :exchange_id, collection: Exchange.all, prompt: "Select Exchange" %><br>
    </div>
    <div class="field">
      <%= f.input :location_id, collection: Location.alphabetical, prompt: "Select Location..." %><br>
    </div>
    <div class="field">
      <%= f.input :client_id, collection: Client.alphabetical, prompt: "Select Client" %><br>
    </div>
    <div class="field">
      <%= f.input :visit_time, as: :datetime, order: [:month, :day, :year] %>
    </div>
    <div class="actions">
      <%= link_to 'Back', visits_path, class: "button tiny radius" %> <%= f.submit nil, class: "button tiny radius" %>
    </div>
  </div>
<% end %>
