<script>
  $(document).ready(function(){
    console.log(document.getElementById("hiv_result"));
    document.getElementById("hiv_result").style.display = "none";
    document.getElementById("hep_b_result").style.display = "none";
    document.getElementById("hep_c_result").style.display = "none";
  });
  function show_hiv() {
    if (document.getElementById("hiv_result").style.display === "inline-block")
    {
      document.getElementById("hiv_result").style.display = "none"
    }
    else
    {
      document.getElementById("hiv_result").style.display = "inline-block"
    }
  };
  function show_hep_b() {
    if (document.getElementById("hep_b_result").style.display === "inline-block")
    {
      document.getElementById("hep_b_result").style.display = "none"
    }
    else
    {
      document.getElementById("hep_b_result").style.display = "inline-block"
    }
  };
  function show_hep_c() {
    if (document.getElementById("hep_c_result").style.display === "inline-block")
    {
      document.getElementById("hep_c_result").style.display = "none"
    }
    else
    {
      document.getElementById("hep_c_result").style.display = "inline-block"
    }
  };
</script>

<%= simple_form_for(@client, html: { class: 'form-horizonta' }) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="small-6 columns">

    <div class="field">
      <%= f.label :code %><br>
      <%= f.text_field :code %>
    </div>
    <div class="field">
      <%= f.input :has_old_code %>
    </div>
    <div class="field">
      <%= f.input :birth_date, as: :date, order: [:month, :day, :year], start_year: Date.today.year - 100, end_year: Date.today.year %>

    </div>
    <div class="field">
      <%= f.label :race %>
      <%= f.radio_button :race, "W" %>
      <%= f.label :race, "White", :value => "W" %>
      <%= f.radio_button :race, "Afam" %>
      <%= f.label :race, "African American", :value => "Afam" %>
      <%= f.radio_button :race, "A" %>
      <%= f.label :race, "Asian", :value => "A" %>
      <%= f.radio_button :race, "M" %>
      <%= f.label :race, "Latino", :value => "L" %>
      <%= f.radio_button :race, "F" %>
      <%= f.label :race, "Other", :value => "O" %>
    </div>
    <div class="field">
      <%= f.label :register_date %><br>
      <%= f.date_select :register_date %>
    </div>
    <div class="field">
      <%= f.label :register_location_id %><br>
      <%= f.collection_select :register_location_id, Location.alphabetical, :id, :name, prompt: "Select Location" %>
    </div>
    <div class="field">
      <%= f.label :gender %><br>
      <%= f.radio_button :gender, "M" %>
      <%= f.label :gender, "Male", :value => "M" %>
      <%= f.radio_button :gender, "F" %>
      <%= f.label :gender, "Female", :value => "F" %>
      <%= f.radio_button :gender, "T" %>
      <%= f.label :gender, "Transgender", :value => "T" %>
    </div>
    <div class="field">
      <%= f.label :how_did_you_hear %><br>
      <%= f.text_field :how_did_you_hear %>
    </div>
    <div class="field">
      <%= f.input :veterancy %>
    </div>
    <div class="field">
      <%= f.label :neighborhood %><br>
      <%= f.text_field :neighborhood %>
    </div>
    <div class="field">
      <%= f.input :hiv_screen, label: "HIV Screen", :input_html => {:onchange => "Javascript:show_hiv();"} %>
    </div>
    <div class="field" id="hiv_result" style="display: none">
      <%= f.label :hiv_result, "HIV Screen Results" %><br>
      <%= f.radio_button :hiv_result, true %>
      <%= f.label :hiv_result, "Positive(+)", :value => true %>
      <%= f.radio_button :hiv_result, false, {:checked => true} %>
      <%= f.label :hiv_result, "Negative(-)", :value => false %>
    </div>
    <div class="field">
      <%= f.input :hep_b_screen, label: "Hepatitis B Screen", :input_html => {:onchange => "Javascript:show_hep_b();"} %>
    </div>
    <div class="field" id="hep_b_result" style="display: none">
      <%= f.label :hep_b_result, "Hepatitis B Screen Results" %><br>
      <%= f.radio_button :hep_b_result, true %>
      <%= f.label :hep_b_result, "Positive(+)", :value => true %>
      <%= f.radio_button :hep_b_result, false, {:checked => true} %>
      <%= f.label :hep_b_result, "Negative(-)", :value => false %>
    </div>
    <div class="field">
      <%= f.input :hep_c_screen, label: "Hepatitis C Screen", :input_html => {:onchange => "Javascript:show_hep_c();"} %>
    </div>
    <div class="field" id="hep_c_result" style="display: none">
      <%= f.label :hep_c_result, "Hepatitis C Screen Results" %><br>
      <%= f.radio_button :hep_c_result, true %>
      <%= f.label :hep_c_result, "Positive(+)", :value => true %>
      <%= f.radio_button :hep_c_result, false, {:checked => true} %>
      <%= f.label :hep_c_result, "Negative(-)", :value => false %>
    </div>
    <div class="actions">
      <%= f.submit nil, class: "button secondary radius" %> <%= link_to 'Back', clients_path, class: "button secondary radius" %>
    </div>
  </div>
<% end %>
