
<h1>Listing clients</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Birth date</th>
      <th>Race</th>
      <th>Register date</th>
      <th>Register location name</th>
      <th>Gender</th>
      <th>Veterancy</th>
      <th>Neighborhood</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.code, client %></td>
        <td><%= client.birth_date.to_date.strftime("%B %d, %Y") %></td>
        <td><%= client.race %></td>
        <td><%= client.register_date.to_date.strftime("%B %d, %Y") %></td>
        <td><%= link_to Location.find(client.register_location_id).name, Location.find(client.register_location_id) %></td>
        <td><%= client.gender %></td>
        <td><%= client.veterancy %></td>
        <td><%= client.neighborhood %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path, class: "button secondary radius" %>
