<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @client.code %>
</p>

<p>
  <strong>Old Code:</strong>
  <% if @client.has_old_code == true %>
    <%= @client.old_code %>
  <% else %>
    Client does not have an old code
  <% end %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @client.birth_date.to_date.strftime("%B, %d, %Y") %>
</p>

<p>
  <strong>Race:</strong>
  <%= @client.race %>
</p>

<p>
  <strong>Register date:</strong>
  <%= @client.register_date.to_date.strftime("%B, %d, %Y") %>
</p>

<p>
  <strong>Register location name:</strong>
  <%= Location.find(@client.register_location_id).name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @client.gender %>
</p>

<% if @client.how_did_you_hear != "" %>
  <p>
    <strong>How did you hear:</strong>
    <%= @client.how_did_you_hear %>
  </p>
<% end %>

<p>
  <strong>Veterancy Status:</strong>
  <%= @client.veterancy %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @client.neighborhood %>
</p>

<p>
  <strong>HIV Screen Results:</strong>
  <% if @client.hiv_screen == true and @client.hiv_result == true %>
    Positive(+)
  <% elsif @client.hiv_screen == true and @client.hiv_result == false %>
    Negative(-)
  <% else %>
    This Client has not been tested for HIV.
  <% end %>
</p>

<p>
  <strong>Hepatitis B Screen Results:</strong>
  <% if @client.hep_b_screen == true and @client.hep_b_result == true %>
    Positive(+)
  <% elsif @client.hep_b_screen == true and @client.hep_b_result == false %>
    Negative(-)
  <% else %>
    This Client has not been tested for Hepatitis B.
  <% end %>
</p>

<p>
  <strong>Hepatitis C Screen Results:</strong>
  <%= @client.hep_c_screen %>
  <% if @client.hep_c_screen == true and @client.hep_c_result == true %>
    Positive(+)
  <% elsif @client.hep_c_screen == true and @client.hep_c_result == false %>
    Negative(-)
  <% else %>
    This Client has not been tested for Hepatitis C.
  <% end %>
</p>

<%= link_to 'Edit', edit_client_path(@client), class: "button secondary radius" %>
<%= link_to 'Destroy', @client, method: :delete, data: { confirm: 'Are you sure?' }, class: "button secondary radius" %>
<%= link_to 'Back', clients_path, class: "button secondary radius" %>
