<h1>Reports</h1>

<body>
    <% startd = request.original_url.split("?").last.split("&").first.split("=").last %>
    <% endd = request.original_url.split("&").last.split("=").last %>

	<h5>Amount of unduplicated users served from <%= startd %> to <%= endd %></h5>
	<table>
		<tr>
		<% Location.all.each do |location| %>
			<th><%= location.name %></th>
		<% end %>
		</tr>
		<tr>
		<% Location.all.each do |location| %>
			<% count = 0 %>
			<% codes = Array.new %>
			<% Visit.all.after_date(startd).before_date(endd).by_location(location).each do |visit| %>
				<% if codes.index(visit.client.code) == nil %>
					<% codes = codes + [visit.client.code] %>
					<% count = count + 1 %>
				<% end %>
			<% end %>
			<td><%= count %></td>
		<% end %>
		</tr>
	</table>

	<% count = 0 %>
	<% Client.all.after_date(startd).before_date(endd).each do |client| %>
		<% count = count + 1 %>
	<% end %>

	<h5>Amount of unduplicated users registered from <%= startd %> to <%= endd %></h5>
	<table>
		<tr>
		<% Location.all.each do |location| %>
			<th><%= location.name %></th>
		<% end %>
		</tr>
		<tr>
		<% Location.all.each do |location| %>
			<% count = 0 %>
			<% Visit.all.after_date(startd).before_date(endd).by_location(location).each do |visit| %>
				<% if register_date == visit.created_at%>
					<% count = count + 1 %>
				<% end %>
			<% end %>
			<td><%= count %></td>
		<% end %>
		</tr>
	</table>

	<% count = 0 %>
	<% Client.all.after_date(startd).before_date(endd).each do |client| %>
		<% count = count + 1 %>
	<% end %>



	<h5>Amount of returned needles from <%= startd %> to <%= endd %></h5>
	<table>
		<tr>
		<% Location.all.each do |location| %>
			<th><%= location.name %></th>
		<% end %>
		</tr>
		<tr>
		<% Location.all.each do |location| %>
			<% count = 0 %>
			<% Visit.all.after_date(startd).before_date(endd).by_location(location).each do |visit| %>
					<% count = count + visit.exchange.returned_needles%>
			<% end %>
			<td><%= count %></td>
		<% end %>
		</tr>
	</table>

	<% count = 0 %>
	<% Client.all.after_date(startd).before_date(endd).each do |client| %>
		<% count = count + 1 %>
	<% end %>

	<h5>number of unduplicated users who received naloxone from <%= startd %> to <%= endd %></h5>
	<table>
		<tr>
		<% Location.all.each do |location| %>
			<th><%= location.name %></th>
		<% end %>
		</tr>
		<tr>
		<% Location.all.each do |location| %>
			<% count = 0 %>
			<% codes = Array.new %>
			<% Visit.all.after_date(startd).before_date(endd).by_location(location).each do |visit| %>
				<% if codes.index(visit.client.code) == nil and visit.exchange.narcan > 0 %>
					<% codes = codes + [visit.client.code] %>
					<% count = count + 1 %>
				<% end %>
			<% end %>
			<td><%= count %></td>
		<% end %>
		</tr>
	</table>

	<% count = 0 %>
	<% Client.all.after_date(startd).before_date(endd).each do |client| %>
		<% count = count + 1 %>
	<% end %>

	<h5>number of unduplicated users who received condom and the number of condoms they received from <%= startd %> to <%= endd %></h5>
	<table>
		<tr>
		<% Location.all.each do |location| %>
			<th><%= location.name %></th>
		<% end %>
		</tr>
		<tr>
		<% Location.all.each do |location| %>
			<% count = 0 %>
			<% condomnum = 0 %>
			<% codes = Array.new %>
			<% Visit.all.after_date(startd).before_date(endd).by_location(location).each do |visit| %>
				<% if codes.index(visit.client.code) == nil and visit.exchange.condom > 0 %>
					<% codes = codes + [visit.client.code] %>
					<% count = count + 1 %>
					<% condomnum = condomnum + visit.exchange.condom %>
				<% end %>
			<% end %>
			<td><%= count+ "people"%></td>
			<td><%= condomnum+ "condoms"%></td>
		<% end %>
		</tr>
	</table>

	<% count = 0 %>
	<% Client.all.after_date(startd).before_date(endd).each do |client| %>
		<% count = count + 1 %>
	<% end %>

	<h5>total number of syringes given from <%= startd %> to <%= endd %></h5>
	<table>
		<tr>
		<% Location.all.each do |location| %>
			<th><%= location.name %></th>
		<% end %>
		</tr>
		<tr>
		<% Location.all.each do |location| %>
			<% count = 0 %>
			<% syringenum = 0 %>
			<% Visit.all.after_date(startd).before_date(endd).by_location(location).each do |visit| %>
					<% count = count + 1 %>
					<% syringenum = syringenum + visit.exchange.ultrafines + visit.exchange.halfs + visit.exchange.pogos + visit.exchange.blues  %>
			<% end %>
			<td><%= syringenum %></td>
		<% end %>
		</tr>
	</table>

	<% count = 0 %>
	<% Client.all.after_date(startd).before_date(endd).each do |client| %>
		<% count = count + 1 %>
	<% end %>


</body>
