<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @location.street %>
</p>

<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @location.zip %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
        <td><%= link_to 'Destroy', @location, method: :delete, data: { confirm: 'Are you sure?' } %></td> |
<%= link_to 'Back', locations_path %>
